.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

input[type="checkbox"]:indeterminate {
    color: red;
    background: black;
}
input[type="checkbox"]:indeterminate:hover {
    cursor: wait;
}

.badge.positive{
    background-color: #0bd23b;
}

.badge.negative{
    background-color: #d20b0d;
}