
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

input[type="checkbox"]:indeterminate {
    color: red;
    background: black;
}
input[type="checkbox"]:indeterminate:hover {
    cursor: wait;
}

.badge.positive{
    background-color: #0bd23b;
}

.badge.negative{
    background-color: #d20b0d;
}





h1,.h1 {
    font-size: calc(1.369140625rem + 1.4296875vw)
}

@media(min-width: 1200px) {
    h1,.h1 {
        font-size:2.44140625rem
    }
}

h2,.h2 {
    font-size: calc(1.3203125rem + 0.84375vw)
}

@media(min-width: 1200px) {
    h2,.h2 {
        font-size:1.953125rem
    }
}

h3,.h3 {
    font-size: calc(1.28125rem + 0.375vw)
}

@media(min-width: 1200px) {
    h3,.h3 {
        font-size:1.5625rem
    }
}

h4,.h4 {
    font-size: 1.25rem
}

h5,.h5 {
    font-size: 1rem
}

h6,.h6 {
    font-size: 0.8rem
}




.tileGraphs{
    width: 100%;
    padding: 10px;
}

