.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

input[type="checkbox"]:indeterminate {
    color: red;
    background: black;
}
input[type="checkbox"]:indeterminate:hover {
    cursor: wait;
}
