{% extends "base/base.html" %}
{% load static %}
{% block head %}
<link href="{% static 'css/inspectWallets.css' %}" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
{% endblock %}
{% block content %}
{% load static %}
<div class="main-body">
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/wallets/">Wallets</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Inspect Wallet</li>
    </ol>
  </nav>
  <div class="row">
    <div class="input-group">
        <input placeholder="Wallet Addresses ...." type="search" id="filterWallets" class="form-control"  style="max-width: 350px;"/>
        <button class="btn btn-primary walletSearch" type="button" onclick="findWallet();">
            <i class="fas fa-search"></i>
        </button>
    </div>
  </div>
  <div class="pb-5">
    <div class="row g-4">
      <div class="col-12 col-xl-6">
        <div class="mb-8">
          <h2 class="mb-2" style="margin-top: 20px;">Wallet Dashboard</h2>
          <h5 class="text-700 fw-semi-bold">Here’s what’s going on with this wallet</h5>
        </div>
        <div class="row align-items-center g-4">
          <div class="col-12 col-md-auto">
            <div class="d-flex align-items-center">
            <div>
                <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" onchange="updateFollow();">               
            </div>
              <div class="ms-3">
                <h4 class="mb-0">Following</h4>
                <p class="text-800 fs--1 mb-0">Copy their trades</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-auto">
            <div class="d-flex align-items-center">
                <div>
                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" onchange="updateFollow();">               
                </div>
                <div class="ms-3">
                <h4 class="mb-0">Shadow</h4>
                <p class="text-800 fs--1 mb-0">Dummy Copy Trades</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-auto">
            <div class="d-flex align-items-center">
                <div>
                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" onchange="updateFollow();">               
                </div>
                <div class="ms-3">
                <h4 class="mb-0">Track</h4>
                <p class="text-800 fs--1 mb-0">Track Wallet</p>
              </div>
            </div>
          </div>
        </div>
        <hr class="bg-200 mb-6 mt-4">
        <div class="row flex-between-center mb-4 g-3">
          <div class="col-auto">
            <h3>Wallet Overview</h3>
            <p class="text-700 lh-sm mb-0">Payment received across all channels</p>
          </div>
          <div class="col-8 col-sm-4">
            <select class="form-select form-select-sm mt-2" id="select-gross-revenue-month" onchange="updateOverview();">
              <option>Profit Losses</option>
              <option>ROI</option>
              <option>Strike Rates</option>
            </select>
          </div>
        </div>
        <div class="row">
            <canvas id="overview"></canvas>
        </div>

      </div>
      <div class="col-12 col-xl-6">
        <div class="row g-3">
          <div class="col-12 col-md-6">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="mb-1">Total Swaps <span class="badge badge-phoenix badge-phoenix-warning rounded-pill fs--1 ms-2">
                        <span class="badge-label">-6.8%</span>
                      </span>
                    </h5>
                    <h6 class="text-700">Last 7 days</h6>
                  </div>
                  <h4>16,247</h4>
                </div>
                <div class="d-flex justify-content-center px-4 py-6">
                    <canvas id="swapsPie"></canvas>
                </div>
                <div class="mt-2">
                  <div class="d-flex align-items-center mb-2">
                    <div class="bullet-item bg-primary me-2"></div>
                    <h6 class="text-900 fw-semi-bold flex-1 mb-0">Completed</h6>
                    <h6 class="text-900 fw-semi-bold mb-0">52%</h6>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="bullet-item bg-primary-100 me-2"></div>
                    <h6 class="text-900 fw-semi-bold flex-1 mb-0">Pending payment</h6>
                    <h6 class="text-900 fw-semi-bold mb-0">48%</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="mb-1">New customers <span class="badge badge-phoenix badge-phoenix-warning rounded-pill fs--1 ms-2">
                        <span class="badge-label">+26.5%</span>
                      </span>
                    </h5>
                    <h6 class="text-700">Last 7 days</h6>
                  </div>
                  <h4>356</h4>
                </div>
                <div class="pb-0 pt-4">
                  <div class="echarts-new-customers" style="height: 180px; width: 100%; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" data-echart-responsive="true" _echarts_instance_="ec_1682724320803">
                    <div style="position: relative; width: 444px; height: 180px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                      <canvas data-zr-dom-id="zr_0" width="444" height="180" style="position: absolute; left: 0px; top: 0px; width: 444px; height: 180px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                    </div>
                    <div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; background-color: rgb(239, 242, 246); border-width: 1px; border-radius: 4px; color: rgb(20, 24, 36); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 10px; top: 0px; left: 0px; transform: translate3d(301px, 78px, 0px); border-color: rgb(203, 208, 221); pointer-events: none; visibility: hidden; opacity: 0;">
                      <div class="ms-1">
                        <h6 class="fs--1 text-700 false">
                          <svg class="svg-inline--fa fa-circle me-2" style="color: #5470c6;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z"></path>
                          </svg>
                          <!-- <span class="fas fa-circle me-2" style="color:#5470c6"></span> Font Awesome fontawesome.com --> May 05 : 250
                        </h6>
                        <h6 class="fs--1 text-700 mb-0">
                          <svg class="svg-inline--fa fa-circle me-2" style="color: #91cc75;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z"></path>
                          </svg>
                          <!-- <span class="fas fa-circle me-2" style="color:#91cc75"></span> Font Awesome fontawesome.com --> Apr 05 : 500
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="mb-2">Top coupons</h5>
                    <h6 class="text-700">Last 7 days</h6>
                  </div>
                </div>
                <div class="pb-4 pt-3">
                  <div class="echart-top-coupons" style="height: 115px; width: 100%; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" _echarts_instance_="ec_1682724320804">
                    <div style="position: relative; width: 444px; height: 115px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                      <canvas data-zr-dom-id="zr_0" width="444" height="115" style="position: absolute; left: 0px; top: 0px; width: 444px; height: 115px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                    </div>
                    <div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; background-color: rgb(239, 242, 246); border-width: 1px; border-radius: 4px; color: rgb(20, 24, 36); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 7px 10px; top: 0px; left: 0px; transform: translate3d(42px, 38px, 0px); border-color: rgb(203, 208, 221); pointer-events: none; visibility: hidden; opacity: 0;">
                      <strong>Percentage discount:</strong> 72%
                    </div>
                  </div>
                </div>
                <div>
                  <div class="d-flex align-items-center mb-2">
                    <div class="bullet-item bg-primary me-2"></div>
                    <h6 class="text-900 fw-semi-bold flex-1 mb-0">Percentage discount</h6>
                    <h6 class="text-900 fw-semi-bold mb-0">72%</h6>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <div class="bullet-item bg-primary-200 me-2"></div>
                    <h6 class="text-900 fw-semi-bold flex-1 mb-0">Fixed card discount</h6>
                    <h6 class="text-900 fw-semi-bold mb-0">18%</h6>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="bullet-item bg-info-500 me-2"></div>
                    <h6 class="text-900 fw-semi-bold flex-1 mb-0">Fixed product discount</h6>
                    <h6 class="text-900 fw-semi-bold mb-0">10%</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="mb-2">Paying vs non paying</h5>
                    <h6 class="text-700">Last 7 days</h6>
                  </div>
                </div>
                <div class="d-flex justify-content-center pt-3 flex-1">
                  <div class="echarts-paying-customer-chart" style="height: 100%; width: 100%; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" _echarts_instance_="ec_1682724320807">
                    <div style="position: relative; width: 444px; height: 144px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                      <canvas data-zr-dom-id="zr_0" width="444" height="144" style="position: absolute; left: 0px; top: 0px; width: 444px; height: 144px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                    </div>
                    <div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; background-color: rgb(239, 242, 246); border-width: 1px; border-radius: 4px; color: rgb(20, 24, 36); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 7px 10px; top: 0px; left: 0px; transform: translate3d(195px, 35px, 0px); border-color: rgb(203, 208, 221); pointer-events: none; visibility: hidden; opacity: 0;">
                      <strong>Paying customer:</strong> 30%
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <div class="d-flex align-items-center mb-2">
                    <div class="bullet-item bg-primary me-2"></div>
                    <h6 class="text-900 fw-semi-bold flex-1 mb-0">Paying customer</h6>
                    <h6 class="text-900 fw-semi-bold mb-0">30%</h6>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="bullet-item bg-primary-100 me-2"></div>
                    <h6 class="text-900 fw-semi-bold flex-1 mb-0">Non-paying customer</h6>
                    <h6 class="text-900 fw-semi-bold mb-0">70%</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white pt-6 pb-9 border-top border-300">
    <div class="row g-6">
      <div class="col-12 col-xl-6">
        <div class="me-xl-4">
          <div>
            <h3>Projection vs actual</h3>
            <p class="mb-1 text-700">Actual earnings vs projected earnings</p>
          </div>
          <div class="echart-projection-actual" style="height: 300px; width: 100%; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" data-echart-responsive="data-echart-responsive" _echarts_instance_="ec_1682724320805">
            <div style="position: relative; width: 458px; height: 300px; padding: 0px; margin: 0px; border-width: 0px;">
              <canvas data-zr-dom-id="zr_0" width="458" height="300" style="position: absolute; left: 0px; top: 0px; width: 458px; height: 300px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
            </div>
            <div class=""></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <div>
          <h3>Returning customer rate</h3>
          <p class="mb-1 text-700">Rate of customers returning to your shop over time</p>
        </div>
        <div class="echart-returning-customer" style="height: 300px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" data-echart-responsive="data-echart-responsive" _echarts_instance_="ec_1682724320806">
          <div style="position: relative; width: 482px; height: 300px; padding: 0px; margin: 0px; border-width: 0px;">
            <canvas data-zr-dom-id="zr_0" width="482" height="300" style="position: absolute; left: 0px; top: 0px; width: 482px; height: 300px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
          </div>
          <div class=""></div>
        </div>
      </div>
    </div>
  </div>
</div> 
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/babel" src="{% static 'js/inspectWallet.js' %}"></script>
{% endblock %}